.RecipeCard {
    background-color: #f0efef82;
    padding-bottom: 30px;
  
  
  &__name {
    font-size: 40px;
    margin: 20px 0;
    color: rgb(43, 43, 43);
    text-align: center;
    font-family: 'Ms Madi', cursive;
  }

  &__buttons {
    margin: 0 auto;
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 0 45px;
  }
}  