header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}


.grid {
  display: grid;
  margin: 0 auto;
  padding: 20px;
  grid-template-columns: 333px 333px 333px;
  gap: 60px 30px;
}

