@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

h1 {
  font-family: 'Ms Madi', cursive;
  font-weight: 400;
}

.heading__primary {
  color: rgb(94, 93, 93);
  font-family: 'Ms Madi', cursive;
  font-size: 80px;
  margin-top: 0;
  font-weight: 400;
}

.button {
  text-decoration: none;
  padding: 8px 15px;
  color: white;
  font-size: 16px;
  background-color: rgb(213, 171, 65);
  border: none;
  border-radius: 20px;
}

.button:hover {
  background-color: rgb(120, 46, 46);
}

.button--secondary {
  background-color: rgb(182, 182, 182);
}

